In [2]:
#1(1)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df1 = pd.read_csv('Taipei_house.csv')
df1

,行政區,土地面積,建物總面積,屋齡,樓層,總樓層,用途,房數,廳數,衛數,電梯,車位類別,交易日期,經度,緯度,總價
0,文山區,33.81,109.42,38.996009,3,5,0,3,2,2,0,無,2019/10/6,121.552517,25.004507,1000
1,文山區,32.19,163.53,23.781460,3,11,0,3,2,2,1,坡道平面,2019/4/28,121.559133,24.983199,2100
2,文山區,60.25,204.79,0.744711,1,10,0,3,2,3,1,無,2019/10/23,121.576052,24.988665,6720
3,文山區,16.99,80.31,0.506513,5,10,0,3,2,2,1,坡道平面,2019/7/28,121.576052,24.988665,1110
4,文山區,25.98,86.73,36.099304,4,5,0,3,2,2,0,無,2019/9/28,121.563486,24.995213,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12424,松山區,2.12,26.78,32.827505,11,16,0,1,1,1,1,無,2016/10/26,121.568060,25.059078,450
12425,文山區,46.49,96.00,34.702971,3,5,0,3,1,1,0,無,2016/11/8,121.561044,24.995349,820
12426,文山區,27.26,271.97,0.301170,8,17,0,4,2,2,1,坡道平面,2017/1/18,121.547490,24.999226,5000
12427,文山區,30.27,94.74,38.935776,5,5,0,3,1,1,0,無,2017/1/9,121.537347,25.001528,1200
12428,文山區,33.86,115.28,22.532975,2,6,0,3,1,2,1,無,2016/12/15,121.566180,24.981819,725

In [4]:
#1(2)
pd.DataFrame(df1.isnull().sum())

       0
行政區    0
土地面積   0
建物總面積  0
屋齡     0
樓層     0
總樓層    0
用途     0
房數     0
廳數     0
衛數     0
電梯     0
車位類別   0
交易日期   0
經度     0
緯度     0
總價     0

In [6]:
#1(3)
One_Hot_Encoding=pd.get_dummies(df1['行政區'],prefix='行政區')
One_Hot_Encoding
a = pd.concat([df1,One_Hot_Encoding],axis=1)
df3 = a.drop("行政區", axis = 1)
df3

,土地面積,建物總面積,屋齡,樓層,總樓層,用途,房數,廳數,衛數,電梯,車位類別,交易日期,經度,緯度,總價,行政區_信義區,行政區_大安區,行政區_文山區,行政區_松山區
0,33.81,109.42,38.996009,3,5,0,3,2,2,0,無,2019/10/6,121.552517,25.004507,1000,0,0,1,0
1,32.19,163.53,23.781460,3,11,0,3,2,2,1,坡道平面,2019/4/28,121.559133,24.983199,2100,0,0,1,0
2,60.25,204.79,0.744711,1,10,0,3,2,3,1,無,2019/10/23,121.576052,24.988665,6720,0,0,1,0
3,16.99,80.31,0.506513,5,10,0,3,2,2,1,坡道平面,2019/7/28,121.576052,24.988665,1110,0,0,1,0
4,25.98,86.73,36.099304,4,5,0,3,2,2,0,無,2019/9/28,121.563486,24.995213,800,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12424,2.12,26.78,32.827505,11,16,0,1,1,1,1,無,2016/10/26,121.568060,25.059078,450,0,0,0,1
12425,46.49,96.00,34.702971,3,5,0,3,1,1,0,無,2016/11/8,121.561044,24.995349,820,0,0,1,0
12426,27.26,271.97,0.301170,8,17,0,4,2,2,1,坡道平面,2017/1/18,121.547490,24.999226,5000,0,0,1,0
12427,30.27,94.74,38.935776,5,5,0,3,1,1,0,無,2017/1/9,121.537347,25.001528,1200,0,0,1,0
12428,33.86,115.28,22.532975,2,6,0,3,1,2,1,無,2016/12/15,121.566180,24.981819,725,0,0,1,0

In [7]:
#1(4)
df4 = df3.replace({'無':0, '坡道平面':1, '坡道機械':1, '升降機械':1,
                    '升降平面':1,'其他':1, '塔式車位':1, '一樓平面':1})
df4

,土地面積,建物總面積,屋齡,樓層,總樓層,用途,房數,廳數,衛數,電梯,車位類別,交易日期,經度,緯度,總價,行政區_信義區,行政區_大安區,行政區_文山區,行政區_松山區
0,33.81,109.42,38.996009,3,5,0,3,2,2,0,0,2019/10/6,121.552517,25.004507,1000,0,0,1,0
1,32.19,163.53,23.781460,3,11,0,3,2,2,1,1,2019/4/28,121.559133,24.983199,2100,0,0,1,0
2,60.25,204.79,0.744711,1,10,0,3,2,3,1,0,2019/10/23,121.576052,24.988665,6720,0,0,1,0
3,16.99,80.31,0.506513,5,10,0,3,2,2,1,1,2019/7/28,121.576052,24.988665,1110,0,0,1,0
4,25.98,86.73,36.099304,4,5,0,3,2,2,0,0,2019/9/28,121.563486,24.995213,800,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12424,2.12,26.78,32.827505,11,16,0,1,1,1,1,0,2016/10/26,121.568060,25.059078,450,0,0,0,1
12425,46.49,96.00,34.702971,3,5,0,3,1,1,0,0,2016/11/8,121.561044,24.995349,820,0,0,1,0
12426,27.26,271.97,0.301170,8,17,0,4,2,2,1,1,2017/1/18,121.547490,24.999226,5000,0,0,1,0
12427,30.27,94.74,38.935776,5,5,0,3,1,1,0,0,2017/1/9,121.537347,25.001528,1200,0,0,1,0
12428,33.86,115.28,22.532975,2,6,0,3,1,2,1,0,2016/12/15,121.566180,24.981819,725,0,0,1,0

In [10]:
#1(5)
df5 = df1.corr(method = "pearson")
df5 = pd.DataFrame(df5["總價"]).round(2).drop(index = "總價")
df5

         總價
土地面積   0.37
建物總面積  0.84
屋齡    -0.22
樓層     0.21
總樓層    0.34
用途    -0.08
房數     0.32
廳數     0.24
衛數     0.44
電梯     0.18
經度    -0.12
緯度     0.11

In [11]:
#1(6)
from sklearn import linear_model
from sklearn.model_selection import train_test_split
X = df4[['建物總面積']]
y = df4[['總價']]
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state=42) 
X_train.head(5)

        建物總面積
10370   90.61
4194    99.99
2245   221.85
9876    74.78
3265    24.19

In [13]:
#1(7)
from sklearn import linear_model
lr = linear_model.LinearRegression()
lr.fit(X_train,Y_train)
rs = lr.score(X_train,Y_train)
print("截距項 =",lr.intercept_)
print("X係數 =",lr.coef_)
print("R平方 =",rs)

截距項 = [-873.23212883]
X係數 = [[26.59524572]]
R平方 = 0.7112030732502972

In [16]:
#1(8)
X = df4[['土地面積','建物總面積','屋齡','樓層','總樓層','用途','房數','廳數','衛數','電梯','車位類別','行政區_信義區',
         '行政區_大安區','行政區_文山區','行政區_松山區']]
y = df4[['總價']]
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state=42) 


regr = linear_model.LinearRegression()

regr.fit(X_train, y_train)
r_squared = regr.score(X_train, y_train)

print('截距項', regr.intercept_)
print('X係數', regr.coef_)
print('R平方:',r_squared)

截距項 [118.25763236]
X係數 [[  -5.50979054   31.45878098  -10.51898357    9.67195975   12.601075
  -118.25616364 -390.21171945 -149.72454571  235.80184657 -248.18627984
  -695.84021507  183.27774354  591.78701111 -876.19511031  101.13035566]]
R平方: 0.8089886389714953

In [18]:
#1(9)
print("均方根誤差(RMSE): %.4f" % np.sqrt(np.mean((regr.predict(X_test) - y_test) ** 2)))

均方根誤差(RMSE): 1193.5188

In [19]:
#1(10)
print("絕對誤差(MAE): %.4f" % np.mean(abs(regr.predict(X_test) - y_test)))

絕對誤差(MAE): 661.8736

In [24]:
#1(11)
predict = regr.predict([[36,99,32,4,4,0,3,2,1,0,0,0,0,0,1]])
print('預測房屋總價: %.4f'% predict)

預測房屋總價: 1653.6571

In [25]:
#1(12)
def Ra2(r_squared,n,p):
    return 1-(1-r_squared)*((n-1)/(n-p))
n = len(X_test)
p = X_test.shape[1]

Ra2 = Ra2(r_squared, n, p)
print('調整後判定係數Ra2:', Ra2)

調整後判定係數Ra2: 0.8079064216285576

In [26]:
#1(13)
from sklearn.preprocessing import PolynomialFeatures
plt.style.use('ggplot')

quadratic = PolynomialFeatures(degree=2) 
X_poly_train = quadratic.fit_transform(X_train)
X_poly_test = quadratic.fit_transform(X_test)   


regr = linear_model.LinearRegression()

regr.fit(X_poly_train, y_train)
r_squared = regr.score(X_poly_train, y_train)

print('截距項', regr.intercept_)
print('X係數', regr.coef_)
print('R平方:',r_squared)

截距項 [-164.70896229]
X係數 [[-1.08149739e-09  2.64176843e+01  1.36003985e+00 -1.94052469e+01
  -1.66414297e+01  5.92282789e+01  3.16202528e+02  1.83767209e+02
   1.76115819e+01  8.00273292e+01 -9.81879082e-01 -5.92953037e+01
  -3.96837057e+02  2.46300538e+02  1.49397273e+02  1.13924619e+00
  -1.47524825e-01  1.21768291e-01 -2.72997500e-01 -4.32992640e-01
  -7.84158220e-01 -7.56086341e-01 -1.31078402e+00 -6.70535600e+00
   2.29427499e+00 -9.09850567e+00  4.04087168e+00  1.80368803e+01
   2.97328210e+00  4.66576321e+00  7.41758742e-01  2.56321145e-03
  -1.86874523e-02  5.39552387e-01  5.39426598e-01 -3.35644823e+00
   3.36979067e-01  5.08061855e-01  1.21424320e+00  3.35540176e+00
  -3.94863759e+00  2.03607746e+00  5.64512000e+00 -1.22680467e+01
   5.94688904e+00  5.65968419e-01 -8.13693438e-01 -5.69295968e-01
  -8.15678185e+00 -2.63810580e+00  5.76992759e+00  1.13179710e+00
   1.82305100e+00 -1.02746976e+00  3.60187911e+00 -1.55909416e+01
  -1.07102394e+01  3.29405499e+00  3.30695353e-01 -8.18186891e-01
  -1.25016984e+01 -7.77232842e+00 -9.76650755e+00 -1.20208815e+00
   4.29361879e+01 -2.72634259e+01 -9.74355633e-01 -5.35211591e+00
  -1.09257009e+01  6.10742696e-01 -1.36992892e+00 -1.73062794e+01
  -6.29501845e+00  5.72460019e+00 -2.12325177e+01 -4.06688258e+00
  -8.34300666e+00  6.37224979e+01 -5.20436135e+00  8.56125289e+00
  -7.85111059e+00  3.16202528e+02  4.93344783e+01 -1.54656644e+01
  -2.70838100e+00  2.59791878e+01  8.90810583e+01  2.93339934e+01
   3.54849066e+01  1.34317935e+02  1.17065693e+02 -1.54773602e+01
   7.46284658e+01 -8.20972251e+01 -5.44179780e+01  1.24409674e+01
  -9.74083366e+01  1.47175831e+02  2.39067433e+02 -1.05067718e+02
  -3.13841187e+01 -5.78258698e+01 -2.18260834e+01  1.14138616e+02
  -9.90497105e+01  2.06331673e+01  1.10822882e+02 -1.47947564e+01
   6.25955059e+01  9.29545998e+01 -3.66066533e+00  2.02214805e+02
  -1.82619331e+02  2.03480526e+01  4.00838029e+01 -9.81879082e-01
   3.76648663e+02  2.57132890e+01  5.03670794e+01 -5.67719813e+00
  -7.13850493e+01 -5.92953037e+01  5.88227822e+01 -3.62448418e+01
   1.15757391e+02 -1.97630635e+02 -3.96837057e+02  0.00000000e+00
   0.00000000e+00  0.00000000e+00  2.46300538e+02  0.00000000e+00
   0.00000000e+00  1.49397273e+02  0.00000000e+00  1.13924619e+00]]
R平方: 0.9212787988596021